<h1>Invite to Join <%= @invite.group.name %></h1>
<strong>Sent: <%= @invite.created_at %></strong>
<p>
  <%= @invite.message %>
</p>
<%= link_to "Join Group", new_group_player_path(@invite.group_id, {invite_id: @invite.id}) %>
